{
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true
    },
    "extends": [
        /* 아직  eslint-plugin-import X */
        "eslint: recommended",
        "plugin: prettier/recommended"
        // "plugin:@typescript-eslint/recommended",   // plugins로 이동

    ],
    "plugins": [
        // 위에서 추가하지 않고 여기 추가함
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        //
    }
}